# Store this file at `/etc/systemd/system/mqtt-subscribe-to-all.service`
# First time, run by:
# sudo systemctl daemon-reload
# sudo systemctl enable mqtt-subscribe-to-all.service
# sudo systemctl start mqtt-subscribe-to-all.service
# View live logs via: `journalctl -u mqtt-subscribe-to-all.service -f`


[Unit]
Description=Mosquitto Subscriber to all topics
After=network.target

[Service]
ExecStart=/usr/local/bin/mqtt-subscribe-to-all.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target